@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;     
    overflow-y: hidden;
}

.Home {
    display: flex;
    width: 100vw; 
    height: 91vh; 
}

.info_esq, .info_dir {
    flex: 1; 
    padding: 15px;
    box-sizing: border-box;
}

/* Exemplo de cores para visualização (remova ou modifique conforme necessário) */
.info_esq {
    background-color: white;
    padding-left: 40px;
}

/* Seção Direita */
.info_dir {
    flex: 1;
    display: flex;
    
    border: none;
    outline: none;

    background-repeat: no-repeat;

    width: 150px; /* Ajuste conforme necessário */
    height: 700px; /* Ajuste conforme necessário */
    background-image: url('../images/Imagem\ Fundo.png');
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative; 
}

.info_esq h2{
    font-family: "Urbanist", sans-serif;
    font-size: 1.5em;
    font-weight: 950;
    color: #333;
    margin-bottom: 20px;
}

.info_esq img {
    width: 60%;
    margin: 10px;
    border-radius: 10px;
}

.card_login {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    padding-top: 50px;
    margin-left: 85px;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}


.card_login h3 {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
    width: 100%;
}

form label img {
    width: 20px; 
    height: 20px; 
    margin-right: 8px;
    vertical-align: middle; 
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    font-size: 1em;
}

input::placeholder {
    color: #888; 
    font-family: "Urbanist", sans-serif; 
    font-style: italic; 
    font-size: 14px; 
  }

button {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #e89c51;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

button:hover {
    background-color: #ffffff;
    color: #e89c51;
    border: 0.5px solid #e89c51;
}

.card_login a {
    color: #0E4548;
    font-family: "Urbanist", sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s;
}

.card_login a:hover {
    color: #d27e3d;
}

.card_login p {
    font-family: "Urbanist", sans-serif;
    font-size: 0.9em;
    color: #000000;
    font-weight: bold   ;
    margin-top: 10px;
}

.card_login p a {
    font-family: "Urbanist", sans-serif;    
    color: #0E4548;
    font-weight: bold;
    text-decoration: none;
}

.card_login p a:hover {
    color: #d27e3d;
}
