@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    
}

/* body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
} */

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #3b7e48;
}

.search-bar {
    margin: 20px 0;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.accommodation-section {
    margin-bottom: 40px;
}

.accommodation-section h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.accommodation-section p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.accommodations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.accommodation-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}

.accommodation-card:hover {
    transform: translateY(-5px);
}

.accommodation-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.accommodation-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.accommodation-title {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation-details {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.price {
    font-weight: bold;
    color: #3b7e48;
    font-size: 16px;
    margin-top: 10px;
}

.price span {
    font-size: 12px;
    color: #777;
}

.rating {
    color: #FFD700;
    font-size: 14px;
    font-weight: bold;
}
